.landing-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  
  background-image: url("https://arweave.net/PFj-YLYQWRrI2M7kq2TRL-tFrbBek0U9HiF47rxCbYo/galaxy2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;

  
}
